html {
  font-size: 10px;
  font-family: 'Girassol', cursive;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: rgb(235, 129, 235);
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: rgb(215,109,215);
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 45px;
}

#table-1 {
  font-size: 25px;
}

h3 {
  font-size: 35px;
}
